*{
    font-family: inherit;
    margin: 0;
    padding: 0;
}
body{
    margin: 10px;
    background-color: antiquewhite;

}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 3px;


}
.nav-list{
    display: flex;
    margin-left: -10px;
    list-style: none;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: -20px;
    gap: 30px;
    font-weight: 700;
}
.nav-list li{
    margin-left: 10px;
    gap: 20px;
    font-size: 1.2rem;


}
.nav-list a{
    text-decoration: none;
    color: black;
}
.nav-list button{
width: 80px;
height: 40px;
margin-top: -10px;

}
.menu-main{
    display: none;
    justify-content: flex-end;
    right: 5%;
    margin-top: 20px;
    position: fixed;
    cursor: pointer;
}
.menu-list li{
    display: flex;
    visibility: visible;
    background-color: black;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 5px;
    width: 30px;
    margin: 2px;


}
.menu-main.open .menu-list li:nth-child(1){
    transform: rotate(-45deg) translate(-4px , 4px);
  }
   .menu-main.open .menu-list li:nth-child(2){
    opacity: 0;
  }
   .menu-main.open.open .menu-list li:nth-child(3){
    transform: rotate(45deg) translate(-4px , -4px);
  }
  .menu-main.open .nav-list {
    visibility: visible;
    }
    .nav-list.open{
        display: block;
        margin-top: 10px;
position: fixed;
width: 100%;
        background-color: white;
       line-height: 1.5;
       place-items: center;

       padding: 10px;
       
    }
    .motto{
        margin-top: 90px; 
        display: flex; 
        justify-content: center; 
        align-items:center; 
         padding-left: 40px; 
         width: 300px; 
         font-size: 3rem;
          text-align:left; 
          font-weight: 800; 
         color: purple;
     }
     footer{
        background-color: purple;
        height: 80px;
        color: white;
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 0px 20px;
        justify-content: center;
        overflow: auto;
        margin-top: 110px;
        width: 100%;
        margin-left: -20px;
        margin-bottom: -10px;
     }
     .paragraph{
    padding-left: 40px; 
     margin-top: 20px;
     max-width: 500px;}

@media (max-width:750px) {
    .nav-list {
        display: none;
    }
    .menu-main{
        display: flex;
    }
    .paragraph{
        display: flex;
        max-width: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
padding-left: 10px;        
    }
  
   .motto{
    padding-left: 10px;
   }
    }