*{
    font-family: inherit;
    margin: 0;
    padding: 0;
}
body{
    margin: 10px 20px;
    background-color: antiquewhite;

}
.logo{
    font-size: 1.2rem;

}
.nav-list{
    display: flex;
    margin-left: 10px;
    list-style: none;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: -20px;
    gap: 30px;
}
.nav-list li{
    margin-left: 10px;
    gap: 20px;
    font-size: 1.2rem;


}
.nav-list a{
    text-decoration: none;
    color: black;
}
nav{
    
}
.menu-list li{
    display: flex;
    background-color: black;
    list-style: none;
    height: 5px;
    width: 30px;
    margin: 2px;


}